<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>WAI First Application</display-name>

    <servlet>
        <servlet-name>firstServlet</servlet-name>
        <servlet-class>pl.pg.asobecki.wai.FirstServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>firstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
        <url-pattern>/also-first</url-pattern>
        <url-pattern>/first-first</url-pattern>
    </servlet-mapping>
</web-app>